body{
    
    background-image: url(https://images.pexels.com/photos/233698/pexels-photo-233698.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-thumb{
    background: rgb(108, 108, 108);
}

body::-webkit-scrollbar-thumb:hover{
    background:  rgb(108, 108, 108);
}