{% extends "arriendos/base.html" %}
{% load static %}

{% block contenido %}
    <div class="col-md-10 d-flex flex-column mx-auto" style="margin-top: -30px;">
      <div class="card card-plain mt-8">
        <div class="card-header pb-0 text-left bg-transparent">
          <h3 class="font-weight-black text-dark display-6">Detalle Propiedad</h3>
        </div>
        <div class="card-body">
          <form action="{% url 'registrar' %}" method="POST" enctype="multipart/form-data" name="formulario_registro"
            id="formulario_registro">
            {% csrf_token %}
            <div class="row">
              <div class="mb-3 col-md-6">
                <label>Nombre Propiedad</label>
                <input type="text" name="nombre" class="form-control" placeholder="Ingresa el nombre"
                  aria-label="Nombre" aria-describedby="nombre-addon">
              </div>
              <div class="mb-3 col-md-6">
                <label>Numero de Habitaciones</label>
                <input type="text" name="apellidos" class="form-control" placeholder="Ingresa los apellidos"
                  aria-label="Apellidos" aria-describedby="apellidos-addon">
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-md-6">
                <label>Numero de Baños</label>
                <input type="text" name="rut" class="form-control" placeholder="Ingresa el rut sin puntos ni guión"
                  aria-label="Rut" aria-describedby="rut-addon">
              </div>
              <div class="mb-3  col-md-6">
                <label>Precio Arriendo</label>
                <input type="date" name="f_nacimiento" class="form-control" placeholder="Ingresa la fecha de nacimiento"
                  aria-label="Fecha" aria-describedby="fecha-addon">
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-md-6">
                <label>Estado</label>
                <input type="email" name="correo" class="form-control" placeholder="Ingresa el correo electronico"
                  aria-label="Email" aria-describedby="email-addon">
              </div>
              <div class="mb-3 col-md-6">
                <label>Metros Cuadrados</label>
                <input type="text" name="numero_tel" class="form-control" placeholder="Ingresa el número télefonico"
                  aria-label="Telefono" aria-describedby="telefono-addon">
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-md-6">
                <label>Metros Cuadrados (Terreno)</label>
                <input type="password" name="Contraseña" class="form-control" placeholder="Crea una contraseña"
                  aria-label="Password" aria-describedby="password-addon">
              </div>
              <div class="mb-3 col-md-6">
                <label>N° de Rol</label>
                <input type="password" name="Contraseña" class="form-control" placeholder="Crea una contraseña"
                  aria-label="Password" aria-describedby="password-addon">
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-md-6">
                <label>Año de la Construcción</label>
                <input type="password" name="Contraseña" class="form-control" placeholder="Crea una contraseña"
                  aria-label="Password" aria-describedby="password-addon">
              </div>
              <div class="mb-3  col-md-6">
                <label>Amoblada</label>
                <input type="password" name="Contraseña1" class="form-control"
                  placeholder="Repite la contraseña anterior" aria-label="Password" aria-describedby="password-addon">

              </div>
            </div>
        </div>
        </form>
      </div>
      <div class="card-footer text-center pt-0 px-lg-2 px-1">
        <p class="mb-4 text-xs mx-auto">

        </p>
      </div>
    </div>
    </div>
    </div>

    {% endblock contenido %}